$wf--primary: #005fb9;
$wf--primary-shaded: #067be7;
$wf--gray: #e7e6e6;
$wf--black: #0f1419;
$wf--background: #f4f8fb;
$wf--primary-dark: #002051;

// shades
$wf--black-shaded: #5b7083;
$wf--black-10: #eee;
$wf--black-80: #373f46;
