// components
@import "partials/components/buttons";
@import "partials/components/canvas";
@import "partials/components/card";
@import "partials/components/search";
@import "partials/components/navigations";
@import "partials/components/post";
@import "partials/components/waf";
@import "partials/components/list";

// common
@import "partials/common/colors";
@import "partials/common/text";
@import "partials/common/form";

// views
@import "partials/views/class-detail";
@import "partials/views/profile";
@import "partials/views/auth";

// miscellaneous
@import "partials/components/misc";

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: $wf--background;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem; //same as 16px
}
