.button {
  padding: 7px 15px;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
}

.button__default {
  color: #005fb9;
  text-decoration: none;
  background-color: white;
  border: 3px solid #005fb9;
}

.button__default:hover {
  background-color: #f4f8fb;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button__primary {
  color: white;
  background-color: #005fb9;
  text-decoration: none;
  border: none;
}

.button__primary:hover {
  background-color: #067be7;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  cursor: pointer;
}

.button--big {
  padding: 10px 20px;
  border-radius: 1.56rem;
  font-size: 1.06rem;
}

.button--heavy {
  font-weight: 700;
}

.canvas {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e7e6e6;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100%;
}

.card {
  background-color: white;
  border: 1px solid #e7e6e6;
  border-radius: 10px;
  position: absolute;
  padding: 0px;
  width: 100%;
}

.card--title {
  font-weight: 600;
  font-size: medium;
  color: #373f46;
  margin: 0px;
  padding: 15px 10px;
  border-bottom: 1px solid #e7e6e6;
}

.card__list-item {
  position: relative;
  padding: 15px 10px;
  border-bottom: 1px solid #e7e6e6;
}

.card__list-item:last-child {
  border-bottom: 0px;
  border-radius: 0 0 10px 10px;
}

.card__list-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.card__list--title {
  font-weight: 600;
  font-size: medium;
  color: #373f46;
  margin: 0px;
  padding: 0px;
}

.card__list--text {
  font-weight: 400;
  color: #5b7083;
  font-size: 14px;
  margin: 3px 0px;
}

.card__footer {
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 0 0 10px 10px;
}

.card__footer:hover {
  color: #005fb9;
  font-weight: 700;
  -webkit-transition: font-weight 0.15s linear;
  transition: font-weight 0.15s linear;
}

.search {
  border-radius: 1.25rem;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  width: 85%;
  background-color: transparent;
  border: none;
  right: 0;
  margin: 1.5% 0;
  font-size: 1rem;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  position: relative;
  width: 10%;
  padding: 10px;
  margin-left: 5px;
}

.mobile-nav {
  border-radius: 2rem;
  background-color: #005fb9;
  width: 90vw;
  margin: 0 5%;
  position: absolute;
  bottom: 10px;
}

.mobile-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-nav__item {
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
  padding: 0px;
}

.mobile-nav__item p {
  font-size: 13px;
  margin: 0;
}

.mobile-nav__img {
  width: 8vw;
  margin: 0px;
}

.mobile-nav__item--active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.seconday-nav {
  padding: 1vh 10vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seconday-nav .search {
  max-width: 25vw;
}

.seconday-nav .nav__logo {
  margin: 0px;
  width: 40px;
}

.seconday-nav .nav__logo ~ span::after {
  content: " | ";
  margin-right: 5px;
}

.seconday-nav .nav__logo ~ span {
  margin-left: 10px;
}

.seconday-nav .nav__item {
  padding: 0 5px;
  text-decoration: none;
  color: wf--black-80;
}

.seconday-nav .nav__button {
  display: none;
}

.seconday-nav .nav__items {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item--active {
  font-weight: 700;
  color: #067be7;
}

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-nav .nav__items {
  display: inline-block;
}

.primary-nav .nav__items img {
  width: 2vw;
  margin-right: 10px;
}

.primary-nav .nav__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #373f46;
}

@media screen and (max-width: 600px) {
  .seconday-nav {
    height: 100vh;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .seconday-nav .nav__logo {
    margin-top: 50px;
    width: 50px;
  }
  .seconday-nav .nav__logo ~ span::after {
    content: "";
  }
  .seconday-nav .nav__logo ~ span {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: 700;
    color: #373f46;
  }
  .seconday-nav .search {
    display: none;
  }
  .seconday-nav .nav__button {
    display: inline-block;
  }
  .seconday-nav .nav__item {
    display: block !important;
    padding: 10px 0;
    font-size: 19px;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav__item-avatar {
    display: none;
  }
}

.text--primary {
  font-size: 1rem;
  color: #005fb9;
  font-weight: 400;
}

.text--black {
  font-size: 1rem;
  color: #0f1419;
  font-weight: 400;
}

.text--primary-bold {
  font-size: 1rem;
  color: #005fb9;
  font-weight: 700;
}

.text--black-bold {
  font-size: 1rem;
  color: #0f1419;
  font-weight: 700;
}

.text--primary-big {
  font-size: 1rem;
  color: #005fb9;
  font-weight: 700;
}

.text--black-big {
  font-size: 1rem;
  color: #0f1419;
  font-weight: 700;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f4f8fb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */